{% extends "app/authenticated.html" %}
{% load custom_form %}
{% load widget_tweaks %}
{% block current_content %}

<div class="btn btn-alt m-b-10 pull-right m-l-10">
    <a href="/models">Back</a>
</div>
<div class="btn btn-alt pull-right m-l-10 m-b-20">
    <a data-toggle="modal" data-target="#basic_info_modal">Edit Basic Info</a>
</div>

<h4 id="report_title" class="m-b-20">REPLACE THIS TITLE</h4>
<div class="modal fade" id="basic_info_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Basic info</h4>
            </div>
            <div class="modal-body">
                <form id="basic_info_form" method="POST">
                    {% csrf_token %}
                    {% render_custom_form report_form %}
                </form>
            </div>
            <div class="modal-footer">
                <button id="basic_info_save" type="button" class="btn btn-primary">Save</button>
                <button id="basic_info_cancel" type="button" class="btn btn-alt" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="pages_panel" class="panel panel-default">
    <div class="panel-heading">
        <div class="btn btn-success btn-sm panel-button">
            <a>
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <h3 class="panel-title uppercase">Pages</h3>
    </div>
    <div class="panel-body">
        <div id="pages-outer-container">
            <div id="pages-inner-container">
                {% for page in pages %}
                <div class="page-panel">
                    <div class="panel panel-default report-page" page="{{page.page_number}}">
                        <div class="panel-heading">
                            <div class="btn btn-danger btn-sm panel-button">
                                <a>
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="btn btn-info btn-sm panel-button">
                                <a>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                            <div class="btn btn-info btn-sm panel-button">
                                <a>
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </div>
                            <h2 class="panel-title">{{page.page_instance.title}}</h2>
                        </div>
                        <div class="panel-body">
                            <form method="post">
                                {% csrf_token %}
                                {% render_custom_form page.page_form %}
                            </form>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-sm btn-success dropdown-toggle panel-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a><i class="fa fa-object-group"></i> Add group</a>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-keyboard-o"></i> Add input</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="panel-title">Inputs</h3>
                                </div>
                                <div class="panel-body">
                                    {% for input in page.inputs %}
                                    {{input.input_instance.title}}<!--TODO-->
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="btn btn-primary btn-primary-white">
    <a>Save And Exit</a>
</div>
<div class="btn btn-primary btn-primary-white">
    <a>Save</a>
</div>
{% load staticfiles %}
<link href="{% static 'app/content/custom/report_model.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'app/scripts/custom/report_model.js' %}" type="text/javascript"></script>
{% endblock %}
