{% extends model.extends %}
{% load widget_tweaks %}
{% block current_content %}
<div class="container-fluid m-r-10 m-l-10">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-capitalize uppercase">{{form_title}}</h3>
                </div>
                <div class="panel-body p-t-10">

                    <div class="row p-b-15">
                        <div class="col-lg-4 col-md-8">
                            {% for form in forms %}
                            {% for field in form %}
                            <p class="m-b-0 m-t-10">{{ field.label_tag }}</p> {% render_field field class+="form-control" %}
                            {{ field.errors }}
                            {% if field.help_text %}
                            <span class="help-block">{{ field.help_text|safe }}</span>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 p-l-0 p-r-0">
                <button class="btn btn-success" type="submit">Save</button>
                <a class="btn btn-danger" href="{{back_path}}">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
