.panel-button {
    margin-top: -1px;
    margin-right: 5px;
    float: right;
}
.btn-xs.panel-button{
    margin-top: 5px;
    float: right;
}
.panel-button>a,
.panel-button>i,
.panel-button>a>i {
    color: white;
}
.panel-button.btn-default>i{
    color:#222;
}
.panel-title {
    margin-bottom: 6px;
    margin-top: 5px;
}
#pages-outer-container {
    overflow: hidden;
    width: 100%;
}
.btn-primary-white>a {
    color: white;
}
.report-page {
    margin-top: 20px;
}
th.choices-table-header {
    font-weight: 500!important;
    font-size: 11px!important;
}

h2[class*="-details-button"],
h3[class*="-details-button"] {
    cursor: pointer;
    display: inline-block;
}
.choice-name-input {
    max-width: 125px;
    
}
.color-input {
    max-width: 80px;
}
.small-integer-input {
    max-width: 50px;
}