body {
    height: 100% !important;
    overflow-x: hidden;
}

@media screen and (min-width: 992px) {
    #sideBar {
        position: fixed;
        top: 68px;
        left: 0;
    }
    #sideBar>.page-sidebar{
        height: 100%!important;
    }
}

@media screen and (max-width: 768px) {
    .hidden-xs-inline {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .hidden-xs-inline {
        display: inline-block !important;
    }
}
.modal {
    top: 50px;
}
.modal-header {
    background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
}
.modal-header>button {
    float: right;
    background: none;
    border: none;
    color: white;
    background-image: none!important;
}
.modal-header>.modal-title {
    color: white;
}

/*.btn-alt {
    border: 1px solid #17C4BB !important;
    
}*/
/*.panel-default>.panel-heading,*/
/*.table-header {
    background-color: #26344B;
}*/
.panel-default>.panel-heading>h3,
.panel-default>.panel-heading>h2 {
    color: #111;
}
.pagination {
    cursor: pointer;
}
.input-panel-container {
    cursor: pointer;
}
.form-control[type="checkbox"] {
    height: 25px;
    width: 25px;
    float: right;
    margin-right: 5px;
}
ol[class*="sortable-list"] {
    min-height: 90px;
}
input[type="text"] {
    border: 1px solid rgba(34,34,34,0.5);
    padding: 6px 12px 6px 12px;
    -webkit-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
}
input[type="text"]:focus {
    padding: 6px 12px 6px 6px;
}
textarea {
    border: 1px solid rgba(34,34,34,0.5)!important;
    padding: 12px 12px 6px 12px!important;
    -webkit-transition: padding 0.2s ease-in-out!important;
    transition: padding 0.2s ease-in-out!important;
    max-width: 100%;
    min-width: 100%;
}
textarea:focus {
    padding: 12px 6px 6px 6px!important;
    
}
.panel-success {
    border-color: #3e8f3e;
}
.panel-success>.panel-heading {
    background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
}
.panel-success > .panel-heading > h2,
.panel-success > .panel-heading > h3 {
    color: white;
}

.panel-info {
    border-color: #28a4c9;
}
.panel-info>.panel-heading {
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
}
.panel-info > .panel-heading > h2,
.panel-info > .panel-heading > h3 {
    color: white;
}
