{% load custom_form %}
<div class="input-panel-container">
    <div class="panel panel-info group-input-panel">
        <div class="panel-heading">
            <div class="btn-group pull-right" data-toggle="tooltip" title="Actions">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle panel-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a class="input-details-button" data-toggle="modal"><i class="fa fa-cogs"></i> Edit details</a>
                    </li>
                    <li>
                        <a class="select-input-button" data-toggle="modal" source="group"><i class="fa fa-keyboard-o"></i> Add field</a>
                    </li>
                    <li>
                        <a class="input-remove-button"><i class="fa fa-times"></i> Remove from page</a>
                    </li>
                </ul>
            </div>
            <h3 class="panel-title">
                {{group.group_instance.title}} <small> - Group</small>
            </h3>
        </div>
        <div class="panel-body">
            <ol class="list-unstyled sortable-list sortable-list-group">
                {% for input in group.inputs %}
                <li input-type="simple">
                    {% render_custom_input input %}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    {% render_custom_modal_form group.group_form 'Group' %}
</div>