{% load custom_form %}
<div id="page_panel_{{page.page_number}}" class="{{page.first_page|yesno:'page-panel,page-panel hidden'}}" page="{{page.page_number}}">
    <div class="panel panel-default report-page">
        <div class="panel-heading">
            <div class="btn btn-danger btn-sm panel-button">
                <a>
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="btn btn-info btn-sm panel-button" direction="right">
                <a>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <div class="btn btn-info btn-sm panel-button" direction="left">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
            <h2 class="panel-title">{{page.page_instance.title}}</h2>
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                {% with page_num_s=page.page_number|stringformat:"s" %}
                {% with prefix=page.original|yesno:"original_page_,page_" %}
                {% with page_id=prefix|add:page_num_s %}
                {% render_custom_form page.page_form page_id %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            </form>
            <div class="panel panel-default inputs-panel">
                <div class="panel-heading">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-sm btn-success dropdown-toggle panel-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a><i class="fa fa-object-group"></i> Add group</a>
                            </li>
                            <li>
                                <a><i class="fa fa-keyboard-o"></i> Add input</a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="panel-title">Inputs</h3>
                </div>
                <div class="panel-body">
                    <ol class="list-unstyled">
                        {% for input in page.inputs %}
                        <li>
                            {% if input.is_group %}
                            {% render_custom_group input.input_instance page %}
                            {% else %}
                            {% render_custom_input input.input_instance page %}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>