{% load custom_form %}
<div class="{{page.first_page|yesno:'page-panel,page-panel hidden'}}" page="{{page.page_number}}">
    <div class="panel panel-primary report-page">
        <div class="panel-heading">
            <div class="btn-group pull-right" data-toggle="tooltip" title="Actions">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle panel-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a class="page-details-button" data-toggle="modal"><i class="fa fa-cogs"></i> Edit details</a>
                    </li>
                    <li>
                        <a class="select-input-button" data-toggle="modal" source="page"><i class="fa fa-keyboard-o"></i> Add field</a>
                    </li>
                    <li>
                        <a class="page-add-group-button"><i class="fa fa-object-group"></i> Add group</a>
                    </li>
                    <li>
                        <a class="page-duplicate-button"><i class="fa fa-clone"></i> Duplicate</a>
                    </li>
                    <li>
                        <a class="page-direction-button" direction="right"><i class="fa fa-angle-right"></i> Move right</a>
                    </li>
                    <li>
                        <a class="page-direction-button" direction="left"><i class="fa fa-angle-left"></i> Move left</a>
                    </li>
                    <li>
                        <a class="page-remove-button"><i class="fa fa-times"></i> Remove page</a>
                    </li>
                </ul>
            </div>

            <h2 class="panel-title">{{page.page_instance.title}}</h2>
        </div>
        <div class="panel-body">
            <ol class="list-unstyled sortable-list">
                {% for input in page.inputs %}
                {% if input.is_group %}
                <li input-type="group">
                    {% render_custom_group input.input_instance %}
                </li>
                {% else %}
                <li input-type="simple">
                    {% render_custom_input input.input_instance %}
                </li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
    {% render_custom_modal_form page.page_form 'Page' %}
</div>