{% load custom_form %}
{% load widget_tweaks %}

{% if with_form %}
<form class="form {{form_class}}" data-value="{{attr}}">
{% endif %}
    <div class="row p-t-10 p-b-15">
        <div class="p-l-15 p-r-15">
            {% for x in fields %}
                {% if not x.field|is_checkbox %}
                <div class="control-group {% if x.field.errors %}error{% endif %}">
                  <label class="control-label m-t-20 m-b-0">{{ x.field.label_tag }}</label>
                  <div class="controls">
                      {% render_field x.field class+="form-control" %}
                      {% if x.field.errors %}
                      <span class="help-block">{{x.field.errors}}</span>
                      {% endif %}
                      {% if x.field.help_text %}
                      <span class="help-block">{{ x.field.help_text|safe }}</span>
                      {% endif %}
                  </div>
                </div>


                {% else %}
                <div class="row m-b-0 m-t-10">
                    <div class="col-md-3 col-sm-4">
                        <span class="pull-left p-t-5 m-r-10">{{ x.field.label_tag }}</span>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        {% render_field x.field class+="form-control pull-left" %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% if with_form %}
</form>
{% endif %}