{% load custom_form %}
<div class="input-panel-container">
    <div class="panel panel-default simple-input-panel">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-sm btn-default panel-button input-details-button" data-toggle="modal">
                <i class="fa fa-cogs"></i>
            </button>
                <div class="btn btn-danger btn-sm panel-button">
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <h3 class="panel-title"><small>{{input.input_instance.type_as_str}}</small> - {{input.input_instance.title}}</h3>
        </div>
        <div class="panel-body">
            {{input.input_instance.description}}
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                    <h4 class="modal-title" id="myModalLabel">{{input.input_instance.title}}</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %} {% render_custom_form input.input_form %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="basic_info_save" type="button" class="btn btn-primary">Save</button>
                    <button id="basic_info_cancel" type="button" class="btn btn-alt" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>