{% load custom_form %}
<div class="input-panel-container">
    <div class="panel panel-success simple-input-panel">
        <div class="panel-heading">
            <button type="button" class="btn btn-danger btn-sm panel-button input-remove-button" data-toggle="tooltip" title="Remove from page">
                <i class="fa fa-times"></i>
            </button>
            <span data-toggle="tooltip" title="Edit details">
                <button type="button" class="btn btn-sm btn-default panel-button input-details-button" data-toggle="modal">
                    <i class="fa fa-cogs"></i>
                </button>
            </span>
            <h3 class="panel-title">{{input.input_instance.title}} <small> - {{input.input_instance.type_as_str}}</small></h3>
        </div>
        <div class="panel-body">
            {{input.input_instance.description}}
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                    <h4 class="modal-title">{{input.input_instance.type_as_str}}</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %} {% render_custom_form input.input_form %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="basic_info_save" type="button" class="btn btn-success">Save</button>
                    <button id="basic_info_cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>